.node {
  cursor: pointer; }

.node rect {
  fill: #00a738;
  stroke-width: 1.5px; }

.node text {
  font: 10px sans-serif;
  fill: #fff; }

.link, .link-alone {
  fill: none;
  stroke: #1f1f1f;
  stroke-width: 1.5px; }
