.yellow {
  background-color: rgb(252, 243, 175);
}

#header-left {
    position: absolute;
    top: 0%;
    left: 0%;
}
#header-right {
    position: absolute;
    top: 0%;
    right: 0%;
}
#footer-left {
    position: absolute;
    bottom: 0%;
    left: 0%;
}

.slide-background {
  padding: 50px 0 !important;
}

li {
  list-style-type:none;
}

li::before {
  content: '👉 '
}
