<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    link(rel="stylesheet", href="/public/revealjs-diagram.css")
  body
    script(src="https://d3js.org/d3.v3.min.js")
    script(src="https://code.jquery.com/jquery-3.2.1.min.js")
    script(src="/public/revealjs-diagram.js")
    script.
      var treeData = {
        name: 'root',
        x0: window.diagram.height / 2,
        y0: 0,
        children: []
      };

      var _transitions = [
        window.diagram.addItem('child 1', 'root', treeData),
        window.diagram.addItem('child 2', 'root', treeData),
        window.diagram.addItem('sub-child 1', 'child 1', treeData),
        window.diagram.addItem('sub-child 2', 'child 1', treeData),
      ];

      var _inverse_transitions = [
        window.diagram.removeItem('child 1', treeData),
        window.diagram.removeItem('child 2', treeData),
        window.diagram.removeItem('sub-child 1', treeData),
        window.diagram.removeItem('sub-child 2', treeData),
      ];

      // start the tree
      window.diagram.register('basic', function() {
        window.diagram.init(treeData);
      });
